{% extends "templates/base.html" %}


{% block content %}


<form action="/activity" method="POST" role="form">
    <input name="__anti-forgery-token" type="hidden" value="{{af-token}}"/>

    <h3>Aktivitäten <input type="submit" value="Speichern" class="btn btn-primary pull-right"></h3>


    <div class="row">
        <div class="col-md-6">

            <h3>Geplant</h3>

            <h4>Morgen</h4>
            <textarea class="form-control" style="height: 100px;" name="tomorrow">{{activities.0.planned}}</textarea>

            <h4>Heute</h4>
            <textarea class="form-control" style="height: 100px;" name="today">{{activities.1.planned}}</textarea>

            <h4>Gestern</h4>
            <textarea class="form-control" style="height: 100px;" name="yesterday">{{activities.2.planned}}</textarea>

            {% for activity in rest-activities %}
            <h4>{{activity.for-date|date:"dd.MM.yyyy"}}</h4>
            <textarea class="form-control" style="height: 100px;" readonly="readonly">{{activity.planned}}</textarea>
            {% endfor %}
        </div>
        <div class="col-md-6">

            <h3>Erledigt</h3>

            <h4>&nbsp;</h4>
            <textarea class="form-control" style="height: 100px;" name="tomorrow-done">{{activities.0.done}}</textarea>

            <h4>&nbsp;</h4>
            <textarea class="form-control" style="height: 100px;" name="today-done">{{activities.1.done}}</textarea>

            <h4>&nbsp;</h4>
            <textarea class="form-control" style="height: 100px;" name="yesterday-done">{{activities.2.done}}</textarea>

            {% for activity in rest-activities %}
            <h4>&nbsp;</h4>
            <textarea class="form-control" style="height: 100px;" readonly="readonly">{{activity.done}}</textarea>
            {% endfor %}
        </div>
    </div>
</form>


{% endblock %}