{% extends "templates/base.html" %}


{% block content %}


<form action="/activity" method="POST" role="form">
    <input name="__anti-forgery-token" type="hidden" value="{{af-token}}"/>

    <h3>Aktivitäten <input type="submit" value="Speichern" class="btn btn-primary pull-right"></h3>


    <h4>Morgen</h4>
    <textarea class="form-control" style="height: 100px;" name="tomorrow">{{activities.0.content}}</textarea>

    <h4>Heute</h4>
    <textarea class="form-control" style="height: 100px;" name="today">{{activities.1.content}}</textarea>

    <h4>Gestern</h4>
    <textarea class="form-control" style="height: 100px;" name="yesterday">{{activities.2.content}}</textarea>

    {% for activity in rest-activities %}
        <h4>{{activity.for-date}}</h4>
        <textarea class="form-control" style="height: 100px;" readonly="readonly">{{activity.content}}</textarea>
    {% endfor %}
</form>


{% endblock %}