{% extends "templates/base.html" %}


{% block add-css %}
{% style "/css/activity.css" %}
{% endblock %}

{% block content %}

<form action="/activity" method="POST" role="form">
    <input name="__anti-forgery-token" type="hidden" value="{{af-token}}"/>

    <h3>{% localize generic/activities %} <input type="submit" value="{% localize generic/save %} " class="btn btn-primary pull-right"></h3>


    <div class="row">
        <div class="col-md-6">

            <h3>{% localize activity/planned %}</h3>

            <h4>{% localize generic/tomorrow %}</h4>
            <textarea class="form-control large" name="tomorrow">{{activities.0.planned}}</textarea>

            <h4>{% localize generic/today %}</h4>
            <textarea class="form-control large" name="today">{{activities.1.planned}}</textarea>

            <h4>{% localize generic/yesterday %}</h4>
            <textarea class="form-control small" name="yesterday">{{activities.2.planned}}</textarea>

            {% for activity in rest-activities %}
            <h4>{{activity.for-date|date:"dd.MM.yyyy"}}</h4>
            <textarea class="form-control small"  readonly="readonly">{{activity.planned}}</textarea>
            {% endfor %}
        </div>
        <div class="col-md-6">

            <h3>{% localize generic/done %}</h3>

            <h4>&nbsp;</h4>
            <textarea class="form-control large" name="tomorrow-done">{{activities.0.done}}</textarea>

            <h4>&nbsp;</h4>
            <textarea class="form-control large" name="today-done">{{activities.1.done}}</textarea>

            <h4>&nbsp;</h4>
            <textarea class="form-control small" name="yesterday-done">{{activities.2.done}}</textarea>

            {% for activity in rest-activities %}
            <h4>&nbsp;</h4>
            <textarea class="form-control small" readonly="readonly">{{activity.done}}</textarea>
            {% endfor %}
        </div>
    </div>
</form>


{% endblock %}