{% extends "templates/base.html" %}

{% block add-css %}
{% style "/css/home.css" %}
{% endblock %}

{% block content %}

    <h3>Neue Mahlzeit hinzufügen</h3>

    <a href="/off/search" class="btn btn-primary" style="margin-bottom: 10px;">Produkt hinzufügen</a>


    <form class="form" action="/meal/new" method="post">
        <input name="__anti-forgery-token" type="hidden" value="{{af-token}}"/>

        <input class="form-control" type="text" name="name" value="{{meal.name}}" placeholder="Name" style="margin-bottom:10px;"/>

        <select name="type" class="form-control">
            <option value="BREAKFAST">Frühstück</option>
            <option value="LAUNCH">Mittag</option>
            <option value="SUPPER">Abendbrot</option>
            <option value="SNACK">Snack</option>
        </select>

        {% include "templates/food/products.html"  %}

        <input type="submit" value="Speichern" class="btn btn-primary" style="margin-top:15px; "/>
    </form>


{% endblock %}