{% extends "templates/base.html" %}

{% block add-css %}
{% style "/css/home.css" %}
{% endblock %}

{% block content %}
<h3>Import</h3>

<form method="post" enctype="multipart/form-data" action="/banking/upload" >
    <input name="__anti-forgery-token" type="hidden" value="{{af-token}}"/>

    <div class="form-group">
        <input id="upload_input"  name="filename" type="file" accept="text/*" />
    </div>

    <div class="form-group">
        <input class="btn btn-primary" tabindex="4" type="submit" value="{% localize generic/ok %}">
    </div>
</form>

<hr />

<div id="banking_js"></div>
{% endblock %}


{% block js-bottom %}
<script src="/js/banking/banking.js"></script>
<script type="text/javascript">de.sveri.getless.banking.main.run();</script>
{% endblock %}