{% extends "templates/base.html" %}

{% block add-css %}
{% style "/css/home.css" %}
{% endblock %}

{% block content %}


    <form class="form" action="/off/search" method="get">
        <input type="hidden" name="referer" class="form-control" value="{{referer}}"/>
        <input type="text" name="search" class="form-control" value="{{search}}" autofocus/>
        <input type="submit" value="{% localize generic/search %}" class="btn btn-default" />
    </form>

    <table class="table" style="margin-top: 30px;">
        <tbody>
            {% for product in products %}
                <tr>
                    <td><a href="http://world.openfoodfacts.org/product/{{product.id}}">{{product.product_name}}</a></td>
                    <td><img src="{{product.image_small_url}}" alt="{{product.product_name}}"/></td>
                    <td><a href="/{{referer}}/add/product/{{product.id}}" class="btn btn-primary">{% localize generic/add %} </a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}