{% extends "templates/base.html" %}

{% block add-css %}
{% style "/css/home.css" %}
{% endblock %}

{% block content %}

    <form class="form" action="/off/search" method="get">
        <input type="text" name="search" class="form-control" value="{{search}}" autofocus/>
        <input type="button" value="Suchen" class="btn btn-default" />
    </form>

    <table class="table" style="margin-top: 30px;">
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{product.product_name}}</td>
                    <td><img src="{{product.image_small_url}}" alt="{{product.product_name}}"/></td>
                    <td><a href="/meal/add/product" class="btn btn-primary">Hinzufügen </a></td>
                </tr>
            {% endfor %}
            <tr></tr>
        </tbody>
    </table>


{% endblock %}