{% extends "templates/base.html" %}

{% block add-css %}
{% style "/css/home.css" %}
{% endblock %}



{% block content %}


    <form class="form-inline" action="/off/search" method="get">
        <input type="text" name="search" class="form-control" value="{{search}}" autofocus style="width:300px;"/>
        <input type="checkbox" name="only-one-locale" class="form-control" style="margin-left: 30px;" checked="checked"/> {% localize off/search-only-one-locale %}
        <input type="submit" value="{% localize generic/search %}" class="btn btn-primary" style="margin-left: 30px;"/>
    </form>

    <table class="table" style="margin-top: 30px;">
        <thead>
            <tr>
                <td class="col-md-2">&nbsp;</td>
                <td class="col-md-2">&nbsp;</td>
                <td class="col-md-4">&nbsp;</td>
                <td class="col-md-2">&nbsp;</td>
                <td class="col-md-2">&nbsp;</td>
            </tr>
        </thead>

        <tbody>
            {% for product in products %}
                <tr>
                    <td><a href="http://world.openfoodfacts.org/product/{{product.id}}">{{product.product_name}}</a></td>
                    <td><img src="{{product.image_small_url}}" alt="{{product.product_name}}" height="120"/></td>
                    <td>{{product.nutriments_text|safe}}</td>
                    <td>{{product.ingredients_text}}</td>
                    <td><a href="/food/add/product/{{product.id}}" class="btn btn-primary pull-right">{% localize generic/add %} </a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}