{% extends "templates/base.html" %}

{% block add-css %}
{% style "/css/home.css" %}
{% endblock %}

{% block content %}

<h3>Essen hinzufügen</h3>



<br />



<form class="form" action="/food/add" method="post">
    <input name="__anti-forgery-token" type="hidden" value="{{af-token}}"/>

    {% include "templates/food/products.html"  %}

    <label for="date" >Datum</label>
    <input class="form-control" type="date" name="date" id="date" placeholder="Datum" style="margin-bottom:10px"
           value="{% now yyyy-MM-dd %}"/>

    <input type="submit" value="Speichern" class="btn btn-primary" style="margin-top:15px; "/>
</form>






{% endblock %}