{% extends "templates/base.html" %}

{% block add-css %}
{% style "/css/home.css" %}
{% endblock %}

{% block content %}

{% for meal in meals %}

    <h3>{{meal.name}}<a href="/food/add/{{meal.id}}" class="btn btn-primary pull-right">{% localize food/select %}</a></h3>

    <table class="table" style="margin-top: 30px;">
        <tbody>
        {% for product in meal.products-edn %}
            <tr>
                <td width="200px">{{product.product.product_name}}
                    <input type="hidden" name="productid[]" value="{{product.id}}">
                </td>
                <td width="200px"><img src="{{product.product.image_small_url}}" alt="{{product.product_name}}" height="50px"/></td>
                <td width="200px">{{product.ingredients_text}}</td>
                <td width="200px"><input type="number" placeholder="{% localize generic/amount %}" name="amount[]" value="{{product.amount}}" required="required" class="form-control"></td>
                <td>{{product.unit|capitalize}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endfor %}


{% endblock %}