{% extends "templates/base.html" %}


{% block content %}



<table class="table">
    <thead>
        <tr><td></td><td>{% localize food/sugar %} (g)</td><td>{% localize food/fat %} (g)</td><td>{% localize food/energy %} (kcal)</td></tr>
    </thead>
    <tbody>
        {% for nutriment in nutriments %}
            <tr>
                <td>{{nutriment.eaten-at|date:"dd.MM.yyyy"}}</td>
                <td>{{nutriment.sugars_100g}}</td>
                <td>{{nutriment.fat_100g}}</td>
                <td>{{nutriment.energy-kcal}}</td>
            </tr>

        {% endfor %}
    </tbody>

</table>


{% endblock %}