{% extends "templates/base.html" %}


{% block content %}

<a href="/food/add" class="btn btn-primary">{% localize food/new %}</a>
<a href="/food/add-from-template" class="btn btn-primary pull-right">{% localize food/from_template %}</a>

<br /><br />

{% for products in products-list %}

    <table class="table">
        <thead>
            <tr>
                <td class="col-md-2">&nbsp;</td>
                <td class="col-md-2">&nbsp;</td>
                <td class="col-md-2">&nbsp;</td>
                <td class="col-md-3">&nbsp;</td>
                <td class="col-md-1">&nbsp;</td>
                <td class="col-md-2">&nbsp;</td>
            </tr>
        </thead>


        <tbody>
            {% for product in products %}
                {% if forloop.first %}
                    <tr>
                        <td colspan="6"><h3>{{product.eaten-at|date:"dd.MM.yyyy"}}</h3></td>
                    </tr>
                {% endif %}

                <tr>
                    <td><a href="http://world.openfoodfacts.org/product/{{product.product.id}}">{{product.product.product_name}}</a></td>
                    <td><img src="{{product.product.image_small_url}}" alt="{{product.product.product_name}}" style="max-width: 120px; max-height: 120px"/></td>
                    <td>{{product.product.nutriments-text|safe}}</td>
                    <td>{{product.product.ingredients_text}}</td>
                    <td>{{product.amount}} {% ifequal product.unit "gramm" %}{% localize generic/gram %} {% endifequal %}</td>
                    <td><a href="/food/delete/database/{{product.id}}" class="btn btn-danger pull-right">{% localize generic/delete %}</a></td>
                </tr>
            {% endfor %}
        </tbody>

    </table>

{% endfor %}

{% endblock %}