{% extends "templates/base.html" %}


{% block content %}

<a href="/food/add" class="btn btn-primary">Neues Essen</a>

<br /><br />

{% for products in products-list %}

    <table class="table">


        <tbody>
            {% for product in products %}
                {% if forloop.first %}
                    <tr>
                        <td colspan="3"><h3>{{product.eaten-at|date:"dd.MM.yyyy"}}</h3></td>
                    </tr>
                {% endif %}


                {% include "templates/food/product.html" %}
            {% endfor %}
        </tbody>

    </table>

{% endfor %}

{% endblock %}