{% extends "templates/base.html" %}


{% block content %}

<a href="/food/add" class="btn btn-primary">{% localize food/new %}</a>
<a href="/food/add-from-template" class="btn btn-primary pull-right">{% localize food/from_template %}</a>

<br /><br />

{% for products in products-list %}

    <table class="table">


        <tbody>
            {% for product in products %}
                {% if forloop.first %}
                    <tr>
                        <td colspan="6"><h3>{{product.eaten-at|date:"dd.MM.yyyy"}}</h3></td>
                    </tr>
                {% endif %}

                <tr>
                    <td width="200px">{{product.product_name}} {{product.product.product_name}}
                        <input type="hidden" name="productid[]" value="{{product.id}}">
                    </td>
                    <td width="200px"><img src="{{product.product.image_small_url}}" alt="{{product.product.product_name}}"/></td>
                    <td>{{product.product.ingredients_text}}</td>
                    <td><input type="number" placeholder="{% localize generic/amount %}" name="amount[]" value="{{product.amount}}"> </td>
                    <td><select name="unit[]"><option value="gramm">{% localize generic/gram %}</option>
                        <option value="liter">{% localize generice/litre %}</option></select></td>
                    <td><a href="/food/delete/database/{{product.id}}" class="btn btn-danger">{% localize generic/delete %}</a></td>
                </tr>
            {% endfor %}
        </tbody>

    </table>

{% endfor %}

{% endblock %}