{% extends "templates/base.html" %}

{% block add-css %}
{% style "/css/home.css" %}
{% endblock %}

{% block content %}

<input type="hidden" id="weighted_at" value="{{dates}}"/>

<input type="hidden" id="weights" value="{{weights}}"/>
<input type="hidden" id="sugars" value="{{sugars}}"/>
<input type="hidden" id="fats" value="{{fats}}"/>
<input type="hidden" id="energy" value="{{energy}}"/>

<input type="hidden" id="weight_string" value="{{weight_string}}"/>
<input type="hidden" id="sugar_string" value="{{sugar_string}}"/>
<input type="hidden" id="fat_string" value="{{fat_string}}"/>
<input type="hidden" id="energy_string" value="{{energy_string}}"/>

    <h3>{% localize generic/weight-progress %}</h3>

    <canvas id="weight-chart" width="600" height="100"></canvas>



    <h3>{% localize weight/add %}</h3>
    <form class="form" action="/weight/add" method="post">
        <input name="__anti-forgery-token" type="hidden" value="{{af-token}}"/>

        <input class="form-control" type="date" name="date" placeholder="{% localize generic/date %}" style="margin-bottom:10px" value="{% now yyyy-MM-dd %}"/>

        <input class="form-control" type="number" name="weight" placeholder="{% localize weight/kg %}" style="margin-bottom:10px" step="0.1"/>

        <input type="submit" value="{% localize generic/save %}" class="btn btn-primary" style="margin-top:15px; "/>
    </form>


{% endblock %}

{% block js-bottom %}
<script src="/js/Chart.min.js"></script>
<script src="/js/weight/index.js"></script>
{% endblock %}

