{% extends "templates/base.html" %}

{% block add-css %}
{% style "/css/home.css" %}
{% endblock %}

{% block content %}

<input type="hidden" id="weighted_at" value="{{dates}}"/>
<input type="hidden" id="weights" value="{{weights}}"/>
<input type="hidden" id="sugars" value="{{sugars}}"/>

    <h3>Gewichtsverlauf</h3>

    <canvas id="weight-chart" width="600" height="100"></canvas>



    <h3>Messung hinzufügen</h3>
    <form class="form" action="/weight/add" method="post">
        <input name="__anti-forgery-token" type="hidden" value="{{af-token}}"/>

        <input class="form-control" type="date" name="date" placeholder="Datum" style="margin-bottom:10px" value="{% now yyyy-MM-dd %}"/>

        <input class="form-control" type="number" name="weight" placeholder="kg" style="margin-bottom:10px" step="0.1"/>

        <input type="submit" value="Speichern" class="btn btn-primary" style="margin-top:15px; "/>
    </form>


{% endblock %}

{% block js-bottom %}
<script src="/js/Chart.min.js"></script>
<script src="/js/weight/index.js"></script>
{% endblock %}

