<!doctype html>
<html lang="de">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% localize generic/better-every-day %}{% endblock %}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    {% style "/css/screen.css" %}
    {% block add-css %}
    {% endblock %}

</head>
<body class="d-flex flex-column">

{% if flash-message %}
<div id="flash-message" class="alert {{flash-alert-type}}">{{flash-message}}</div>
{% endif %}

{% include "templates/menu.html" %}

<main role="main" class="container-fluid flex-grow-1">
        {% block content %}
        {% endblock %}
</main>

<footer>
    <div class="container">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link {% active contact %}" href="/contact">{% localize generic/contact %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% active dataprivacy %}" href="/dataprivacypolicy">{% localize generic/data-privacy-policy %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% active about %}" href="/about">{% localize generic/about %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://world.openfoodfacts.org/terms-of-use">Open Food Facts</a>
            </li>
        </ul>
    </div>
</footer>

<script src="/js/jquery.min.js" type="text/javascript"></script>
<script src="/js/bootstrap.min.js"></script>

{% block js-bottom %}
{% endblock %}

</body>
</html>
