<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">

        <a class="navbar-brand" href="/">{% localize generic/home %}</a>

        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#topMenu"
                aria-controls="topMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="topMenu">

            {% if identity %}
            <ul class="navbar-nav mr-auto">
                <li class='nav-item {% active goals %}'>
                    <a class="nav-link" href="/goals">{% localize generic/goals %} <span class="sr-only">(current)</span></a>
                </li>
                <li class='nav-item {% active banking %}'>
                    <a class="nav-link" href="/banking">{% localize generic/banking %}</a>
                </li>
                <li class='nav-item {% active activity %}'>
                    <a class="nav-link" href="/activity">{% localize generic/activities %}</a>
                </li>
                <li class='nav-item dropdown {% active food weight %}'>
                    <a class="nav-link dropdown-toggle"
                       href="#" id="food-dropdown-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% localize generic/diet %}</a>
                    <div class="dropdown-menu" aria-labelledby="food-dropdown-menu">
                        <a class="dropdown-item" href="/food">{% localize generic/food %}</a>
                        <a class="dropdown-item" href="/food/contents">{% localize generic/ingredients %}</a>
                        <a class="dropdown-item" href="/weight">{% localize generic/weight-progress %}</a>
                    </div>
                </li>



                {% ifequal "admin" role %}
                <li class='nav-item dropdown {% active admin %}'>
                    <a class="nav-link dropdown-toggle"
                       href="#" id="admin-dropdown-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
                    <div class="dropdown-menu" aria-labelledby="admin-dropdown-menu">
                        <a class="dropdown-item" href="/admin/users">Users</a>
                    </div>
                </li>
                {% endifequal %}


            </ul>

            {% endif %}
        </div>




        {% if identity %}

        <ul class="navbar-nav ml-auto">
            <li class='nav-item dropdown {% active user %}'>
                <a class="nav-link dropdown-toggle"
                   href="#" id="user-dropdown-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{identity}}</a>
                <div class="dropdown-menu" aria-labelledby="user-dropdown-menu">
                    <a class="dropdown-item" href="/user/changepassword">{% localize user/change_password %}</a>
                    <a class="dropdown-item" href="/user/logout">{% localize generic/logout %}</a>
                </div>
            </li>
        </ul>

        {% else %}

        <form class="form-inline mt-2 mt-md-0" action="/user/login" method="POST">
            <input name="__anti-forgery-token" type="hidden" value="{{af-token}}"/>

            {% if nexturl %}
            <input name="nexturl" type="hidden" value="{{nexturl}}"/>
            {% endif %}

            <input class="form-control mr-sm-2" id="upper_email" type="text" placeholder="{% localize generic/email %}"
                   name="username">

            <input class="form-control mr-sm-2" id="upper_password" type="password"
                   placeholder="{% localize generic/password %}" name="password">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">{% localize user/signin %}</button>
        </form>


        {% endif %}
    </nav>
</header>

