{:generic
           {:some_error        "Er is een fout opgetreden."
            :deletion_canceled "Verwijderen geannuleerd."
            :email             "Email"
            :password          "Wachtwoord"
            :password_confirm  "Verifieer wachtwoord"
            :logout            "Uitloggen"
            :diet              "Dieet"
            :activities        "Activiteiten"
            :food              "Eten"
            :ingredients       "Ingredienten"
            :weight-progress   "Weight Progress" // TODO: Translate
            :tomorrow          "Morgen"
            :today             "Vandaag"
            :yesterday         "Gisteren"
            :done              "Klaar"
            :delete            "Verwijderen"
            :save              "Opslaan"
            :gram              "gram"
            :litre             "liter"
            :date              "datum"
            :amount            "hoeveelheid"
            :search            "Zoek"
            :add               "Toevoegen"
            :cancel            "Annuleren"
            :no-results-found  "Geen resultaten gevonden."}
 :user
           {:email_invalid        "A valid email is required."
            :pass_min_length      "Password must be at least 5 characters."
            :pass_match           "Entered passwords do not match."
            :pass_correct         "Please provide a correct password."
            :pass_changed         "Password changed."
            :change_password      "Change Password"
            :wrong_cur_pass       "Current password was incorrect."
            :username_exists      "This username already exists. Choose another."
            :username_wrong       "Please provide a correct username."
            :deleted              "User deleted successfully."
            :updated              "User %s updated successfully."
            :user_added           "User added."
            :captcha_wrong        "Please provide the correct captcha input."
            :email_failed         "Something went wrong sending the email, please contact us."
            :signup               "Sign Up"
            :signin               "Sign In"
            :username             "Username"
            :role                 "Role"
            :current_password     "Current Password"
            :new_password         "New Password"
            :new_password_confirm "Confirm New Password"
            :really_delete        "Do you really want to delete user: "
            :register             "Register"}

 :admin
           {:title    "User Overview"
            :add_user "Benutzer hinzufügen"
            :new_user "New User"
            :active   "Active"
            :filter   "Filter Users"
            :update   "Update"}
 :home     {:we-dont-judge         "We don't judge."
            :we-support-each-other "We support each other."
            :we-use-means          "We use means that do not harm anyone."}
 :activity {:planned "Geplant"}
 :product  {:add           "Add Product"
            :save_template "Save As Template"
            :template_name "Template Name"}
 :food     {:new                 "New Food"
            :from_template       "From Template"
            :select              "Select"
            :sugars              "Sugar"
            :fat                 "Fat"
            :energy              "Energy"
            :cholesterol         "Cholesterol"
            :salt                "Salt"
            :proteins            "Proteins"
            :monounsaturated-fat "Monounsaturated Fat"
            :saturated-fat       "Saturated Fat"
            :fiber               "Fiber"
            :polyunsaturated-fat "Polyunsaturated Fat"
            :carbohydrates       "Carbohydrates"}

 :contact  {:contact            "Contact"
            :content_belongs_to "Content belongs to"}
 :weight   {:add "Add Record"
            :kg  "kg"}
 :off      {:search-only-one-locale "Only English Products"}}

