{:generic
           {:some_error          "Er is een fout opgetreden."
            :deletion_canceled   "Verwijderen geannuleerd."
            :email               "Email"
            :password            "Wachtwoord"
            :password_confirm    "Verifieer wachtwoord"
            :logout              "Uitloggen"
            :diet                "Dieet"
            :activities          "Activiteiten"
            :food                "Eten"
            :ingredients         "Ingredienten"
            :weight-progress     "Gewitchts Voortgang"
            :tomorrow            "Morgen"
            :today               "Vandaag"
            :yesterday           "Gisteren"
            :done                "Klaar"
            :delete              "Verwijderen"
            :save                "Opslaan"
            :gram                "gram"
            :litre               "liter"
            :date                "datum"
            :amount              "hoeveelheid"
            :search              "Zoek"
            :add                 "Toevoegen"
            :cancel              "Annuleren"
            :no-results-found    "Geen resultaten gevonden."
            :edit                "Edit"
            :save-failed         "Something failed while saving"
            :please-wait         "Please wait"
            :better-every-day    "Better - every day"
            :home                "Home"
            :contact             "Contact"
            :data-privacy-policy "Data Privacy Policy"
            :data-used-from-off  "Product data is provided by Open Food Facts"}
 :user
           {:email_invalid        "Een geldig email is nodig."
            :pass_min_length      "Wachtwoord moet minstens 5 karakters bevatten."
            :pass_match           "Gekozen wachtwoorden komen niet overeen."
            :pass_correct         "Please provide a correct password." ; TODO: Translate
            :pass_changed         "Wachtwoord bijgewerkt."
            :change_password      "Wachtwoord aanpassen"
            :wrong_cur_pass       "Huidigen wachtwoord is incorrecct."
            :username_exists      "This username already exists. Choose another." ; TODO: Translate
            :username_wrong       "Gelieve een geldigen gebruikersnaam op te geven."
            :deleted              "Gebruiker succesvol verwijderd."
            :updated              "Gebruiker %s succesvol bijgewerkt."
            :user_added           "Gebruiker toegevoegd."
            :captcha_wrong        "Gelieve de captcha correct invullen."
            :email_failed         "Er is iets fout gegaan met het verzenden van de mail, gelieve contact op te nemen."
            :signup               "Registreren"
            :signin               "Inloggen"
            :username             "Gebruikersnaam"
            :role                 "Rol"
            :current_password     "Huidig Wachtwoord"
            :new_password         "Nieuw Wachtwoord"
            :new_password_confirm "Nieuw Wachtwoord Verifiëren"
            :really_delete        "Wil je deze gebruiker verwijderen: "
            :register             "Registreren"}

 :admin
           {:title    "Gebruikers Overzicht"
            :add_user "Gebruiker Toevoegen"
            :new_user "Nieuwe Gebruiker"
            :active   "Actief"
            :filter   "Filter Gebuikers"
            :update   "Bijwerken"}
 :home     {:we-dont-judge         "Wij oordelen niet."
            :we-support-each-other "Wij ondersteunen elkaar."
            :we-use-means          "We use means that do not harm anyone."
            :hey-friend            "Hey there, fellow friend"
            :service-in-beta       "This service is in beta status and we would like to have any feedback you have for us"} ; TODO: Translate
 :activity {:planned "Geplant"}
 :product  {:add           "Product Toevoegen"
            :save_template "Opslaan als voorbeeld"
            :template_name "Voorbeeld Naam"}
 :food     {:new                 "Nieuw Eten"
            :from_template       "Vanaf voorbeeld"
            :select              "Selecteer"
            :sugars              "Suiker"
            :fat                 "Vet"
            :energy              "Energie"
            :cholesterol         "Cholesterol"
            :salt                "Protein"
            :proteins            "Proteine"
            :monounsaturated-fat "Enkelvoudig onverzadigd vet"
            :saturated-fat       "Verzadigd vet"
            :fiber               "Vezels"
            :polyunsaturated-fat "Meervoudig onverzadigd vet"
            :carbohydrates       "Koolhydraten"}

 :contact  {:contact            "Contact"
            :content_belongs_to "Inhoud behoort tot"}
 :weight   {:add     "Gewicht tussenstand toevoegenn"
            :kg      "kg"
            :history "Historie"}
 :off      {:search-only-one-locale "Alleen Nederlandse producten"}}

