{:generic
           {:some_error          "Произошла ошибка."
            :deletion_canceled   "Удаление прервано."
            :email               "E-Mail"
            :password            "Пароль"
            :password_confirm    "Подтверждение пароля"
            :logout              "Выход"
            :diet                "Диета"
            :activities          "Виды активности"
            :food                "Продукты"
            :ingredients         "Рацион"
            :weight-progress     "Контроль веса"
            :tomorrow            "Завтра"
            :today               "Сегодня"
            :yesterday           "Вчера"
            :done                "Выполнено"
            :delete              "Удалить"
            :save                "Сохранить"
            :gram                "грамм"
            :litre               "литр"
            :date                "Дата"
            :amount              "Количество"
            :search              "Поиск"
            :add                 "Добавить"
            :cancel              "Отменить"
            :no-results-found    "Ничего не найдено."
            :edit                "Изменить"
            :save-failed         "Something failed while saving"
            :please-wait         "Please wait"
            :better-every-day    "Better - every day"
            :home                "Home"
            :contact             "Contact"
            :data-privacy-policy "Data Privacy Policy"
            :data-used-from-off  "Product data is provided by Open Food Facts"
            :links "Links"
            :finance "Finance"
            :goals "Goals"}
 :user
           {:email_invalid        "Адрес недействителен."
            :pass_min_length      "Пароль должен содержать не менее 5 символов."
            :pass_match           "Пароли не совпадают."
            :pass_correct         "Пароль неверный."
            :pass_changed         "Пароль изменен"
            :change_password      "Сменить пароль"
            :wrong_cur_pass       "Текущий пароль неверен"
            :username_exists      "Данное имя уже занято. Пожалуйста, введите другое."
            :username_wrong       "Введите имя пользователя."
            :deleted              "Пользователь успешно удален."
            :updated              "Данные пользователи успешно изменены."
            :user_added           "Пользователь добавлен."
            :captcha_wrong        "Неверно введена Captcha."
            :email_failed         "Произошла ошибка при отправке письма. Пожалуйста, обратитесь в техподдержку"
            :signup               "Зарегистрироваться"
            :signin               "Войти"
            :username             "Имя пользователя"
            :role                 "Роль"
            :current_password     "Текущий пароль"
            :new_password         "Новый пароль"
            :new_password_confirm "Повторите новый пароль"
            :really_delete        "Вы точно хотите удалить пользователя?"
            :register             "Регистрация"}

 :admin
           {:title    "Информация о пользователе"
            :add_user "Добавить пользователя"
            :new_user "Новый пользователь"
            :filter   "Фильтр"
            :active   "Активный"
            :update   "Сохранить изменения"}
 :home     {:we-dont-judge         "Мы не оцениваем."
            :we-support-each-other "Мы поддерживаем."
            :we-use-means          "Мы используем средства, которые не причиняют вреда."
            :hey-friend            "Hey there, fellow friend"
            :service-in-beta       "This service is in beta status and we would like to have any feedback you have for us"}
 :activity {:planned "Запланировать"}
 :product  {:add           "Добавить продукт"
            :save_template "Сохранить шаблон"
            :template_name "Имя шаблона"}
 :food     {:new                 "Новый продукт"
            :from_template       "Из шаблона"
            :select              "Выбрать"
            :sugars              "Сахар"
            :fat                 "Жиры"
            :energy              "Калорийность"
            :cholesterol         "Холестерин"
            :salt                "Соль"
            :proteins            "Белки"
            :monounsaturated-fat "Мононенасыщенных жиры"
            :saturated-fat       "Насыщенные жиры"
            :fiber               "Пищевые волокна"
            :polyunsaturated-fat "Полиненасыщенные жиры"
            :carbohydrates       "Углеводы"}
 :contact  {:contact            "Контакты"
            :content_belongs_to "Права принадлежат"}
 :weight   {:add     "Добавить запись"
            :kg      "кг"
            :history "Все записи"}
 :off      {:search-only-one-locale "Искать продукты только на русском"}
 :finance {:inout "Income / Outcome"}
 :goals {:short "Shortterm"
         :mid "Midterm"
         :long "Longterm"
         :new "New Goal"
         :done "Done"}}
